<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
{% if country_list %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      </div>
    </nav>
    <div class="list-group justify-content-center">
        {% for country in country_list %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
            <a  href="{% url 'forecast_app:city' country.id %}" class="list-group-item list-group-item-action"
                style="color:black;text-align:center;">{{country.name}}</a>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
        <li id="go_back" class="page-item {% if first_page %}disabled{% endif %}"><a class="page-link" href="{% url 'forecast_app:country' page|add:'-1' %}">Go back</a></li>
        {% if not first_page %}
            <li class="page-item">
                <a class="page-link" href="{% url 'forecast_app:country' 1 %}">{{1}}</a>
            </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{% url 'forecast_app:country' page %}">{{page}}</a>
        </li>
        {% if page|add:'1' < last_page_num  %}
        <li class="page-item">
            <a class="page-link" href="{% url 'forecast_app:country' page|add:'1' %}">{{page|add:'1'}}</a>
        </li>
        {% endif %}
        {% if page|add:'2' < last_page_num  %}
        <li class="page-item">
            <a class="page-link" href="{% url 'forecast_app:country' page|add:'2' %}">{{page|add:'2'}}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{% url 'forecast_app:country' last_page_num %}">{{last_page_num}}</a>
        </li>
        <li id="go_ahead" class="page-item {% if last_page %}disabled{% endif %}"><a class="page-link" aria-disabled="{{last_page}}" href="{% url 'forecast_app:country' page|add:'1' %}">Go ahead</a></li>
    </ul>
</div>
{% else %}
    <p>No city are available.</p>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>